.badge {
  background-color: var(--aiven-primary-orange);
  border-radius: var(--badge-radius);
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 4px 8px;
  font-size: 43%;
  vertical-align: middle;
}
