.card {
  margin-bottom: 1em;
  font-family: var(--aiven-card-font-family)
}

.card a {
  color: var(--ifm-color-content);
  background-color: var(--aiven-card-bg);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0em;
  border-radius: var(--aiven-radius);
  border: solid 1px var(--aiven-card-border);
}

.icon svg {
  color: var(--ifm-link-color);
  max-width: 25px;
  max-height: 25px;
  margin-bottom: 12px;
}

.title {
  font-size: 110%;
  font-weight: 600;
  line-height: 1.6rem;
  margin-bottom: 0.8rem;
}

.card a:hover,
.card a:focus {
  text-decoration: none;
  background-color: var(--aiven-card-bg-hover);
  border-color: var(--aiven-card-border-hover);
}
