.button {
  font-weight: 600;
  margin: 0;
  padding: 10px;
  font-size: 110%;
  vertical-align: middle;
  border-radius: 2px;
}
.button:hover,
.button:focus {
  text-decoration: none;
  color: unset;
}

.buttonPrimary {
  background-color: var(--aiven-button-primary-bg);
  color: white;
  border: 1px solid var(--aiven-button-primary-bg);
}
.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: var(--aiven-button-primary-bg-hover);
  border-color: var(--aiven-button-primary-bg-hover);
  color: white !important;
}

.buttonSecondary {
  color: var(--aiven-button-primary-bg);
  border: 1px solid var(--aiven-button-primary-bg);
}
.buttonSecondary:hover,
.buttonSecondary:focus {
  color: var(--aiven-button-secondary-bg-hover) !important;
  border-color: var(--aiven-button-secondary-bg-hover);
}

.kapaAIButton {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  height: 36px;
  gap: 8px;
  background-color: var(--aiven-primary-orange);
  border-width: 0;
  color: white;
  cursor: pointer;
  font-family: var(--aiven-card-font-family);
  margin: 0 16px 0 6px;
}

.kapaAIButton:hover,
.kapaAIButton:focus,
.kapaAIButton:active {
  color: white;
  background-color: var(--aiven-orange-90);
}
