.badge {
  border-radius: var(--badge-radius);
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 4px 8px;
  font-size: 80%;
  vertical-align: middle;
  white-space: nowrap;
}

article .aivenTooltip {
  font-size: 13px;
  font-weight: 400;
  z-index: 100;
  font-family: inter;
  padding: 0.8em;
}

h1 .badge,
h2 .badge,
h3 .badge {
  font-size: 43%;
}
