.title {
  font-size: var(--aiven-h2-override);
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom)* var(--ifm-leading));
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top)* var(--ifm-leading));
}
