.alert {
  --ifm-alert-background-color: var(--aiven-adm-bg-note);
  border-left: 0px;
  border-radius: 4px;
  --ifm-link-color: var(--aiven-adm-link-color);
  --ifm-link-hover-color: var(--aiven-primary-70);
  --ifm-link-decoration: none;
  padding: 12px;
}

.alert>div:first-child {
  /* Title of the admonition */
  font-size: 110%;
  font-family: Inter;
  color: var(--aiven-adm-title-color);
  text-transform: capitalize;
  font-weight: 500;
}

.alert>div:first-child>span {
  /* Icon container */
  margin: 0;
}

.alert>div:first-child>span>svg {
  /* Icon */
  height: 1em;
  fill: var(--aquarium-colors-info-70);
}

.alert>div:last-child {
  /* Body of the admonition */
  margin-left: 26px;
  color: var(--aiven-adm-text-color);
}

.alert--success {
  --ifm-alert-background-color: var(--aiven-adm-bg-tip);
}

.alert--success>div:first-child>span>svg {
  fill: var(--aquarium-colors-success-70);
}

.alert--warning {
  --ifm-alert-background-color: var(--aiven-adm-bg-warning);
}

.alert--warning>div:first-child>span>svg {
  fill: var(--aquarium-colors-error-70);
}

.alert--info {
  --ifm-alert-background-color: var(--aiven-adm-bg-info);
}

.alert--info>div:first-child>span>svg {
  fill: var(--aquarium-colors-warning-90);
}

.alert a {
  text-decoration-color: var(--ifm-link-color);
}

.alert a:hover {
  text-decoration-thickness: 1px;
}
