:root {
  --aiven-grey-0: rgba(247, 247, 250, 1);
  --aiven-grey-05-2: rgba(237, 237, 240, 1);
  --aiven-grey-05: rgba(237, 237, 240, 1);
  --aiven-grey-10: rgba(225, 225, 227, 1);
  --aiven-grey-20: rgba(210, 210, 214, 1);
  --aiven-grey-30: rgba(180, 180, 187, 1);
  --aiven-grey-40: rgba(150, 150, 160, 1);
  --aiven-grey-50: rgba(120, 120, 133, 1);
  --aiven-grey-60: rgba(90, 91, 106, 1);
  --aiven-grey-70: rgba(74, 75, 87, 1);
  --aiven-grey-80: rgba(58, 58, 68, 1);
  --aiven-grey-90: rgba(41, 42, 49, 1);
  --aiven-grey-100: rgba(25, 25, 29, 1);
  --aiven-grey-primary: rgb(24, 26, 36);
  --aiven-blue-5: rgb(207, 238, 252);
  --aiven-blue-10: rgb(127, 209, 247);
  --aiven-blue-20: rgb(76, 194, 247);
  --aiven-blue-30: rgb(40, 180, 244);
  --aiven-blue-100: #02569a;
  --aiven-primary-05: rgba(243, 246, 255, 1);
  --aiven-primary-10: rgba(227, 233, 255, 1);
  --aiven-primary-40: rgba(185, 197, 239, 1);
  --aiven-primary-60: rgba(129, 142, 236, 1);
  --aiven-primary-70: rgba(88, 101, 205, 1);
  --aiven-primary-80: rgba(53, 69, 190, 1);
  --aiven-primary-90: rgba(34, 47, 149, 1);
  --aiven-orange-5: rgba(255, 243, 232, 1);
  --aiven-primary-orange: rgba(255, 82, 0, 1);
  --aquarium-colors-info-70: #0399e3;
  --aquarium-colors-error-70: #d80005;
  --aquarium-colors-success-70: #00b300;
  --aquarium-colors-warning-90: #ff9003;
}
