name: Check links

on:
  schedule:
    - cron: '0 1 * * 4' # every Thursday, at 1AM
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
         go-version: 'stable'

      - name: Install Muffet
        run: |
          go install github.com/raviqqe/muffet/v2@latest

      - name: Run check links
        run: |
          make check-links

      - name: Ping on Slack
        uses: slackapi/slack-github-action@v1.27.0
        if: ${{ failure() && github.ref_name == 'main' }}
        with:
          payload: |
            {
              "runId": "$GITHUB_RUN_ID"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_BROKEN_LINKS }}
